
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/MyLayout/MyLayout.cshtml";
}

<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="/Home" class="navbar-brand px-lg-4 m-0">
            <h1 class="m-0 display-4 text-uppercase text-white">H2KT</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                <a href="/Home" class="nav-item nav-link ">Trang Chủ</a>
                <a href="/About" class="nav-item nav-link ">Về Chúng Tôi</a>
                <a href="/Service" class="nav-item nav-link active ">Dịch Vụ</a>
                <a href="/Menu" class="nav-item nav-link ">Sản Phẩm</a>
                <a href="/Testimonial" class="nav-item nav-link ">Khách Hàng Đánh Giá</a>
                <a href="/Contact" class="nav-item nav-link">Thông Tin Liên Hệ</a>
                <a href="/Login" class="nav-item nav-link">Đăng Nhập</a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Dịch Vụ</h1>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href="">Trang Chủ</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Dịch Vụ</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Dịch Vụ Của Chúng Tôi</h4>
            <h1 class="display-4">Thực Phẩm Tươi & Nguyên Chất</h1>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="~/Content/img/service-1.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-truck service-icon"></i>Giao Hàng Tận Nơi & Nhanh Chóng</h4>
                        <p class="m-0">
                            Chúng tôi có các dịch vụ giao hàng tận nơi, tận tâm, tận tình luôn sẵn sàng phục vụ khách
                            hàng.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="~/Content/img/service-2.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-coffee service-icon"></i>Trà & Hạt Cà Phê Nguyên Chất</h4>
                        <p class="m-0">
                            Đội ngũ thu hoạch, sàn lọc hạt cà phê và lá trà chuyên nghiệp, làm việc ngày đêm để mang
                            lại những sản phẩm thơm ngon từ những nguyên liệu nguyên chất.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="~/Content/img/service-3.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-award service-icon"></i>Chất Lượng Sẩn Phẩm Tốt Nhất</h4>
                        <p class="m-0">
                            Từ nguyên liệu nguyên chất, các bartender của chúng tôi sẽ dùng kinh nghiệm của mình để
                            pha cho khách hàng những thức uống thơm ngon.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="~/Content/img/service-4.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-table service-icon"></i>Đặt Hàng Online & Tiện Lợi</h4>
                        <p class="m-0">
                            Nếu khách hàng không có thời gian để trực tiếp đến cửa hàng chúng tôi thì dịch vụ đặt hàng
                            online sẽ giúp khách hàng có thể vừa làm việc vừa thưởng thức thức uống thơm ngon từ chúng tôi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
