
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/MyLayout/MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="/Home" class="navbar-brand px-lg-4 m-0">
            <h1 class="m-0 display-4 text-uppercase text-white">H2KT</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                <a href="/Home" class="nav-item nav-link ">Trang Chủ</a>
                <a href="/About" class="nav-item nav-link ">Về Chúng Tôi</a>
                <a href="/Service" class="nav-item nav-link ">Dịch Vụ</a>
                <a href="/Menu" class="nav-item nav-link ">Sản Phẩm</a>
                <a href="/Testimonial" class="nav-item nav-link ">Khách Hàng Đánh Giá</a>
                <a href="/Contact" class="nav-item nav-link">Thông Tin Liên Hệ</a>
                <a href="/Login" class="nav-item nav-link active">Đăng Nhập</a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">ĐĂNG NHẬP</h1>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href="">Trang Chủ</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Đăng nhập</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Đăng nhập</h4>
        </div>
        <body>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="wrapper">
                    <form class="form-signin">
                        <h2 class="form-signin-heading">Please login</h2>
                        <input type="text" class="form-control" name="username" placeholder="User Name" required="" autofocus="" />
                        @ViewData["Loi1"]
                        <input type="password" class="form-control" name="password" placeholder="Password" required="" />
                        @ViewData["Loi2"]
                        <br />
                        <a href="/DangKy">Tạo Tài Khoản</a>
                        <br />
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
                        @ViewBag.ThongBao
                    </form>
                </div>
            }
        </body>
    </div>
</html>

